{% extends 'base.html' %}
{% load omfilters %}

{% block conteudo %}

    <main class="container mt-4 mb-4">

        <div class="row">
            <div class="col">
                <h3 class="mb-4">Pedidos de {{ user }}</h3>
                <p>Abaixo todos os seus pedidos realizados na loja.</p>

                <div class="table-responsive">
                    <table class="table table-striped">
                        
                        <tr>
                            <th scope="col">Pedido</th>
                            <th scope="col">Total</th>
                            <th scope="col">Qtd. Itens</th>
                            <th scope="col">Status</th>
                            <th scope="col">Mais detalhes</th>
                        </tr>

                        {% for p in pedidos %}
                            <tr>
                                <th scope="row">{{ p }}</td>
                                <td>{{ p.total | format_brazilian_currency }}</td>
                                <td>{{ p.qtd_total }}</td>
                                <td>{{ p.get_status_display }}</td>
                                <td>
                                    <a href="{% url 'pedido:detalhe' p.pk %}">
                                        Ver <i class="fas fa-search-plus ml-2"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
        </div>

    </main>

    {% include 'parciais/_pagination.html' %}

{% endblock %}